@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,300italic,700,700italic);

*{
  font-family: "Roboto", Trebuchet, sans-serif;
  font-size: $basefont;
}
h1, h2, h3, h4{
	font-family: "Roboto Slab", Trebuchet, sans-serif;
}