@import "_variables";
// @import "_fonts";
/* -------------------------------------
        GLOBAL
------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,300italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  // ========== these are only commented out for local testing. 
  // font-family: $font-stack;
  // font-size: $basefont;
}

img {
  max-width: 100%;
}

.collapse {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  font-family: $font-stack;
  font-size: $basefont;
}

/* -------------------------------------
        ELEMENTS
------------------------------------- */

a {
  color: $c-links;
}

.btn {
  text-decoration: none;
  color: $c-page;
  background-color: adjust-color($c-links, $lightness: 10%, $saturation: 0%);
  margin-top: $basepad / 2;
  padding: 10px 16px;
  font-family: $font-stack-slab;
  font-weight: bold;
  font-size: $basefont;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  // width: auto;
  text-transform: uppercase;
  letter-spacing: $basefont * 0.2;
}

.callout, singleline .callout {
  padding: $basepad * 0.7;
  background-color: lighten($c-light, 40);
  margin-bottom: $basepad * 0.7;
}

.callout a {
  font:{
    weight: bold;
    size: $basefont * 1.2;
  }
  color: white; //$c-links;
}

table.social {
  /*    padding:15px; */
  // background-color: lighten($c-light, 40);

}

.social .soc-btn {
  padding: 3px 7px;
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: $c-page;
  font-weight: bold;
  display: block;
  text-align: center;
}

a {
  &.fb {
    background-color: #3B5998!important;
  }
  &.tw {
    background-color: #1daced!important;
  }
  &.gp {
    background-color: #DB4A39!important;
  }
  &.ms {
    background-color: $c-text !important;
 }
}

.sidebar .soc-btn {
  display: block;
  width: 100%;
}

/* -------------------------------------
        HEADER
------------------------------------- */

table.head-wrap {
  width: 100%;
}

.header.container table td {
  &.logo {
    padding: 15px;
  }
  &.label {
    padding: 15px;
    padding-left: 0px;
  }
}
.header{
  .content{
    padding: 0;
  }
}
.lead{
  h1{
    padding-top: $basepad / 2;
  }
  p, multiline {
    font-size: $basefont * 1.2;
    padding-bottom: $basepad;
  }
  img{
    padding-top: $basepad;
  }
}

/* -------------------------------------
        BODY
------------------------------------- */

table {
  &.body-wrap {
    width: 100%;
  }
  &.footer-wrap {
    width: 100%;
    clear: both!important;
  }
}

/* -------------------------------------
        FOOTER
------------------------------------- */

.footer-wrap{
    p, a{
      color: adjust-color($c-links, $lightness: 35%, $saturation: 20%);;
      font:{
        size: $basefont * 1;
        weight: bold;
      }
    }
  .container td.content p {
    border-top: 1px solid rgb(215, 215, 215);
    padding-top: 15px;

    }
}

/* -------------------------------------
        TYPOGRAPHY
------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-slab;
  // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
  color: $c-text;
  small{
    font-size: 70%;
    color: $c-dark;
    line-height: 0;
    text-transform: none;
  }
}

h1 {
  font-weight: 400;
  font-size: $basefont * 2.3;
}

h2 {
  font-weight: 400;
  font-size: $basefont * 1.8;
}

h3 {
  font-weight: 500;
  font-size: $basefont * 1.6;
}

h4 {
  font-weight: 500;
  font-size: $basefont * 1.4;
}

h5 {
  font-weight: 900;
  font-size: $basefont * 1.4;
}

h6 {
  font-weight: 900;
  font-size: $basefont;
  text-transform: uppercase;
  color: $c-dark;
}

.collapse {
  margin: 0!important;
}

p, ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: $basefont;
  line-height: 1.6;
}

p {
  &.last {
    margin-bottom: 0px;
  }
}

dt{
  font-weight: bold;
  color: adjust-color($c-dark, $lightness: 20%, $saturation: -30%);
  margin: $basepad * 0.6 0 $basepad * 0.2 0;
}
dd{
  line-height: 1.2;
  margin-bottom: $basepad * 0.3;
}
ul {
  li {
    margin-left: 5px;
    list-style-position: inside;
  }
  &.sidebar {
    background: #ebebeb;
    display: block;
    list-style-type: none;
    li {
      display: block;
      margin: 0;
      a {
        text-decoration: none;
        color: #666;
        padding: 10px 16px;
        /*  font-weight:bold; */
        margin-right: 10px;
        /*  text-align:center; */
        cursor: pointer;
        border-bottom: 1px solid #777777;
        border-top: 1px solid $c-page;
        display: block;
        margin: 0;
        &.last {
          border-bottom-width: 0px;
        }
        h1, h2, h3, h4, h5, h6, p {
          margin-bottom: 0!important;
        }
      }
    }
  }
}

/* -------------------------------------
        SIDEBAR
------------------------------------- */

/* ---------------------------------------------------
        RESPONSIVENESS
        Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */

.container {
  display: block!important;
  max-width: $box-width !important;
  margin: 0 auto!important;
  /* makes it centered */
  clear: both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */

.content {
  padding: $basepad;
  max-width: $box-width;
  margin: 0 auto;
  display: block;
  table {
    width: 100%;
  }
}

/* Let's make sure tables in the content area are 100% wide */

/* Odds and ends */

.column {
  width: $col-width;
  float: left;
  tr td {
    padding: $basepad / 2 $basepad $basepad / 2 $basepad;
  }
}
.column-left{
  width: $col-width * 2 - $basepad;
}
.column-right{
  background-color: adjust-color($c-primary, $lightness: 60%, $saturation: -30%);
  width: $col-width;
  p, dd{
    font-size: $basefont * 0.8;
  }
  dt{
    font-size: $basefont * 0.9;
  }
}
.column-wrap {
  padding: 0!important;
  margin: 0 auto;
  max-width: $box-width !important;
}

.column table {
  width: 100%;
}

.social .column {
  width: $col-width - $basepad;
  min-width: $col-width - 1;
  float: left;
}
.social{
  tr td{
    padding: 5px;
  }
}

/* Be sure to place a .clear element after each set of columns, just to be safe */

.clear {
  display: block;
  clear: both;
}

/* -------------------------------------------
    CUSTOM
    Your rules imported here!
-------------------------------------------- */
@import "_myrules";

/* -------------------------------------------
        PHONE
        For clients that support media queries.
        Nothing fancy.
-------------------------------------------- */
@media only screen and (max-width: $box-width ) {
  a[class="btn"] {
    display: block!important;
    margin-bottom: 10px!important;
    background-image: none!important;
    margin-right: 0!important;
  }
  div[class="column"], .column-left, .column-right {
    width: auto!important;
    float: none!important;
  }
  .column-left, .column-right{
    padding-right: $basepad;
  }
  table.social div[class="column"] {
    width: auto!important;
  }
}
