/* -------------------------------------
        GLOBAL
------------------------------------- */
/* line 6, ../../sass/email-sidebar.scss */
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/* line 12, ../../sass/email-sidebar.scss */
img {
  max-width: 100%;
}

/* line 16, ../../sass/email-sidebar.scss */
.collapse {
  margin: 0;
  padding: 0;
}

/* line 21, ../../sass/email-sidebar.scss */
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
}

/* -------------------------------------
        ELEMENTS
------------------------------------- */
/* line 32, ../../sass/email-sidebar.scss */
a {
  color: #6d0008;
}

/* line 36, ../../sass/email-sidebar.scss */
.btn {
  text-decoration: none;
  color: white;
  background-color: #6d0008;
  padding: 10px 16px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

/* line 48, ../../sass/email-sidebar.scss */
p.callout {
  padding: 15px;
  background-color: #ECF8FF;
  margin-bottom: 15px;
}

/* line 54, ../../sass/email-sidebar.scss */
.callout a {
  font-weight: bold;
  color: #6d0008;
}

/* line 59, ../../sass/email-sidebar.scss */
table.social {
  /*    padding:15px; */
  background-color: #ebebeb;
}

/* line 64, ../../sass/email-sidebar.scss */
.social .soc-btn {
  padding: 3px 7px;
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  display: block;
  text-align: center;
}

/* line 76, ../../sass/email-sidebar.scss */
a.fb {
  background-color: #3b5998 !important;
}
/* line 79, ../../sass/email-sidebar.scss */
a.tw {
  background-color: #1daced !important;
}
/* line 82, ../../sass/email-sidebar.scss */
a.gp {
  background-color: #db4a39 !important;
}
/* line 85, ../../sass/email-sidebar.scss */
a.ms {
  background-color: black !important;
}

/* line 90, ../../sass/email-sidebar.scss */
.sidebar .soc-btn {
  display: block;
  width: 100%;
}

/* -------------------------------------
        HEADER
------------------------------------- */
/* line 99, ../../sass/email-sidebar.scss */
table.head-wrap {
  width: 100%;
}

/* line 104, ../../sass/email-sidebar.scss */
.header.container table td.logo {
  padding: 15px;
}
/* line 107, ../../sass/email-sidebar.scss */
.header.container table td.label {
  padding: 15px;
  padding-left: 0px;
}

/* -------------------------------------
        BODY
------------------------------------- */
/* line 118, ../../sass/email-sidebar.scss */
table.body-wrap {
  width: 100%;
}
/* line 121, ../../sass/email-sidebar.scss */
table.footer-wrap {
  width: 100%;
  clear: both !important;
}

/* -------------------------------------
        FOOTER
------------------------------------- */
/* line 131, ../../sass/email-sidebar.scss */
.footer-wrap .container td.content p {
  border-top: 1px solid #d7d7d7;
  padding-top: 15px;
  font-size: 10px;
  font-weight: bold;
}

/* -------------------------------------
        TYPOGRAPHY
------------------------------------- */
/* line 142, ../../sass/email-sidebar.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
  color: #000;
}

/* line 149, ../../sass/email-sidebar.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
  text-transform: none;
}

/* line 156, ../../sass/email-sidebar.scss */
h1 {
  font-weight: 200;
  font-size: 44px;
}

/* line 161, ../../sass/email-sidebar.scss */
h2 {
  font-weight: 200;
  font-size: 37px;
}

/* line 166, ../../sass/email-sidebar.scss */
h3 {
  font-weight: 500;
  font-size: 27px;
}

/* line 171, ../../sass/email-sidebar.scss */
h4 {
  font-weight: 500;
  font-size: 23px;
}

/* line 176, ../../sass/email-sidebar.scss */
h5 {
  font-weight: 900;
  font-size: 17px;
}

/* line 181, ../../sass/email-sidebar.scss */
h6 {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #444;
}

/* line 188, ../../sass/email-sidebar.scss */
.collapse {
  margin: 0 !important;
}

/* line 192, ../../sass/email-sidebar.scss */
p, ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
}

/* line 200, ../../sass/email-sidebar.scss */
p.lead {
  font-size: 17px;
}
/* line 203, ../../sass/email-sidebar.scss */
p.last {
  margin-bottom: 0px;
}

/* line 209, ../../sass/email-sidebar.scss */
ul li {
  margin-left: 5px;
  list-style-position: inside;
}
/* line 213, ../../sass/email-sidebar.scss */
ul.sidebar {
  background: #ebebeb;
  display: block;
  list-style-type: none;
}
/* line 217, ../../sass/email-sidebar.scss */
ul.sidebar li {
  display: block;
  margin: 0;
}
/* line 220, ../../sass/email-sidebar.scss */
ul.sidebar li a {
  text-decoration: none;
  color: #666;
  padding: 10px 16px;
  /*  font-weight:bold; */
  margin-right: 10px;
  /*  text-align:center; */
  cursor: pointer;
  border-bottom: 1px solid #777777;
  border-top: 1px solid white;
  display: block;
  margin: 0;
}
/* line 232, ../../sass/email-sidebar.scss */
ul.sidebar li a.last {
  border-bottom-width: 0px;
}
/* line 235, ../../sass/email-sidebar.scss */
ul.sidebar li a h1, ul.sidebar li a h2, ul.sidebar li a h3, ul.sidebar li a h4, ul.sidebar li a h5, ul.sidebar li a h6, ul.sidebar li a p {
  margin-bottom: 0 !important;
}

/* -------------------------------------
        SIDEBAR
------------------------------------- */
/* ---------------------------------------------------
        RESPONSIVENESS
        Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */
/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
/* line 254, ../../sass/email-sidebar.scss */
.container {
  display: block !important;
  max-width: 900px !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
/* line 264, ../../sass/email-sidebar.scss */
.content {
  padding: 15px;
  max-width: 900px;
  margin: 0 auto;
  display: block;
}
/* line 269, ../../sass/email-sidebar.scss */
.content table {
  width: 100%;
}

/* Let's make sure tables in the content area are 100% wide */
/* Odds and ends */
/* line 278, ../../sass/email-sidebar.scss */
.column {
  width: 300px;
  float: left;
}
/* line 281, ../../sass/email-sidebar.scss */
.column tr td {
  padding: 15px;
}

/* line 285, ../../sass/email-sidebar.scss */
.span-2 {
  width: 600px;
}

/* line 289, ../../sass/email-sidebar.scss */
.column-wrap {
  padding: 0 !important;
  margin: 0 auto;
  max-width: 900px !important;
}

/* line 295, ../../sass/email-sidebar.scss */
.column table {
  width: 100%;
}

/* line 299, ../../sass/email-sidebar.scss */
.social .column {
  width: 300px;
  min-width: 299px;
  float: left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
/* line 307, ../../sass/email-sidebar.scss */
.clear {
  display: block;
  clear: both;
}

/* -------------------------------------------
    CUSTOM
    Your rules imported here!
-------------------------------------------- */
/* -------------------------------------------
    MYRULES
    This sample file shows you how to
    override default rules and add your
    ones.
-------------------------------------------- */
/* -------------------------------------------
        PHONE
        For clients that support media queries.
        Nothing fancy.
-------------------------------------------- */
@media only screen and (max-width: 900px) {
  /* line 324, ../../sass/email-sidebar.scss */
  a[class="btn"] {
    display: block !important;
    margin-bottom: 10px !important;
    background-image: none !important;
    margin-right: 0 !important;
  }

  /* line 330, ../../sass/email-sidebar.scss */
  div[class="column"] {
    width: auto !important;
    float: none !important;
  }

  /* line 334, ../../sass/email-sidebar.scss */
  table.social div[class="column"] {
    width: auto !important;
  }
}
