!!! 5
html
  head
    //
       If you delete this meta tag, the ground will open and swallow you. 
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title ZURBemails
    link(rel='stylesheet', type='text/css', href='stylesheets/email.css')
  body(bgcolor='#FFFFFF', topmargin='0', leftmargin='0', marginheight='0', marginwidth='0')
    //
       HEADER 
    table.head-wrap(bgcolor='#999999')
      tr
        td
        td.header.container(align='')
          //
             /content 
          .content
            table(bgcolor='#999999')
              tr
                td
                  img(src='http://placehold.it/200x50/')
                td(align='right')
                  h6.collapse Newsletter
          //
             /content 
        td
    //
       /HEADER 
    //
       BODY 
    table.body-wrap(bgcolor='')
      tr
        td
        td.container(align='', bgcolor='#FFFFFF')
          //
             content 
          .content
            table
              tr
                td
                  h1 Great Scott!
                  p.lead
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                  //
                     A Real Hero (and a real human being) 
                  p
                    img(src='http://placehold.it/600x300')
                  //
                     /hero 
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          //
             /content 
          //
             content 
          .content
            table(bgcolor='')
              tr
                td.small(width='20%', style='vertical-align: top; padding-right: 10px;')
                  img(src='http://placehold.it/75x75')
                td
                  h4
                    | Title Ipsum
                    small This is a note.
                  p.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  a.btn Clickity Click »
          //
             /content 
          //
             content 
          .content
            table(bgcolor='')
              tr
                td.small(width='20%', style='vertical-align: top; padding-right: 10px;')
                  img(src='http://placehold.it/75x75')
                td
                  h4
                    | Title Ipsum
                    small This is a note.
                  p.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  a.btn Clickity Click »
          //
             /content 
          //
             content 
          .content
            table(bgcolor='')
              tr
                td
                  //
                     Callout Panel 
                  p.callout
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    a(href='#') Do it Now! »
                  //
                     /callout panel 
          //
             /content 
          //
             content 
          .content
            table(bgcolor='')
              tr
                td.small(width='20%', style='vertical-align: top; padding-right: 10px;')
                  img(src='http://placehold.it/75x75')
                td
                  h4
                    | Title Ipsum
                    small This is a note.
                  p.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  a.btn Clickity Click »
          //
             /content 
          //
             content 
          .content
            table(bgcolor='')
              tr
                td.small(width='20%', style='vertical-align: top; padding-right: 10px;')
                  img(src='http://placehold.it/75x75')
                td
                  h4
                    | Title Ipsum
                    small This is a note.
                  p.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  a.btn Clickity Click »
          //
             /content 
          //
             content 
          .content
            table(bgcolor='')
              tr
                td
                  //
                     social & contact 
                  table.social(bgcolor='', width='100%')
                    tr
                      td
                        //
                          - column 1 
                        .column
                          table(bgcolor='', cellpadding='', align='left')
                            tr
                              td
                                h5. Connect with Us:
                                p.
                                  a.soc-btn.fb(href='#') Facebook
                                  a.soc-btn.tw(href='#') Twitter
                                  a.soc-btn.gp(href='#') Google+
                          //
                             /column 1 
                        //
                          - column 2 
                        .column
                          table(bgcolor='', cellpadding='', align='left')
                            tr
                              td
                                h5. Contact Info:
                                p
                                  | Phone:
                                  strong 408.341.0600
                                  br
                                  | Email:
                                  strong
                                    a(href='emailto:hseldon@trantor.com') hseldon@trantor.com
                          //
                             /column 2 
                        .clear
                  //
                     /social & contact 
          //
             /content 
        td
    //
       /BODY 
    //
       FOOTER 
    table.footer-wrap
      tr
        td
        td.container
          //
             content 
          .content
            table
              tr
                td(align='center')
                  p
                    a(href='#') Terms
                    | |
                    a(href='#') Privacy
                    | |
                    a(href='#')
                      unsubscribe Unsubscribe
          //
             /content 
        td
    //
       /FOOTER 
