dl
  dt Campaign Co-Chairs
  dd Loren Leman
  dd Richard Strutz
dl
  dt Pastoral Co-chairs
  dd Jay Pullins
  dd Richard Irwin
dl
  dt Prayer Chair
  dd Judith Green
dl
  dt Fundraising Chair
  dd Les Anderson
dl
  dt Season of Service Co-chairs
  dd David Kuiper
  dd Richard Benjamin
dl
  dt PR/Publicity Co-chairs
  dd Becky Hansen
  dd Jenni Ragland
dl
  dt Counseling Co-chair
  dd Mark Goodwin
  //- 'Mark' renders as a tag... 
dl
  dt Follow-up Co-chair
  dd Jimmy Stewart
dl
  dt Board of Reference 
  dd Katherine Gottlieb, Southcentral Foundation
  dd Pastor Dan Jarrell, ChangePoint
  dd Pastor Keith Lauwers, Church of Anchorage
  dd Edward B Rasmuson, Rasmuson Foundation
  dd Pastor Brad Rud, The Crossing@Birchwood
  dd Pastor Don Shugak, Anchorage Native New Life Fellowship
