<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Love Alaska</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/email-hero-footer.css"/>
    <body bgcolor="#31373b" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
      <!-- ------------- HEADER ---------------------------->
      <table bgcolor="#31373b" cellspacing="0" cellpadding="0" class="head-wrap">
        <tr>
          <td class="header container">
            <div class="content">
              <table bgcolor="#31373b" cellspacing="0" cellpadding="0">
                <tr>
                  <td><img src="../images/ak14-header-generic.jpg"/></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
      <!-- -------- BODY ------------------------------>
      <table cellspacing="0" cellpadding="0" class="body-wrap">
        <tr>
          <td></td>
          <td bgcolor="#fff" class="container">
            <!-- content -->
            <div class="content lead">
              <table>
                <tr>
                  <td>
                    <h1>
                      <singleline label="Main Title">Featured Item Title</singleline>
                    </h1><multiline label='Main Feature Intro'>Main feature introduction. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</multiline>
                  </td>
                </tr>
                <tr> 
                  <td>
                     
                    <img src="../images/featured-image-placeholder.png" editable width="900" label="Featured Image" class="lead" /><!--
                    <Callout>Panel </Callout>-->
                    <div class="callout"><multiline label='Main Feature Intro'>Feature call-to-action. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</multiline>
                      <singleline label="CTA Button"><a class="btn">Click Here »</a></singleline>
                    </div>
                    <!--Callout Panel -->
                  </td>
                </tr>
              </table>
              <repeater>
                <layout label="Article, side image">
                  <div class="content">
                    <h2>
                      <singleline label="Article Title" repeatertitle="Featured Item Title">Article Title, it could be longish, or even longer than previously thought</singleline>
                    </h2>
                  </div>
                  <div class="column-wrap">
                    <div class="column column-right">
                      <table align="left">
                        <tr>
                          <td><img src="../images/featured-image-placeholder.png" editable width="200" label="Article Image" class="article" /></td>
                        </tr>
                      </table>
                    </div>
                    <div class="column column-left">
                      <table align="left">
                        <tr>
                          <td><multiline label="Article Copy" repeatertitle="Article">Article copy. Lorem ipsum Voluptate officia dolore elit minim velit reprehenderit mollit velit ex aute dolore quis ut voluptate elit tempor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</multiline>
                            <singleline label="CTA Button"><a class="btn">Click Here »</a></singleline>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="spacer"></div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </layout>
              </repeater>
              <repeater>
                <layout label="Article Layout">
                  <table align="left">
                    <tr>
                      <td>
                        <h2>
                          <singleline label="Article Title" repeatertitle="Featured Item Title">Article Title, it could be longish, or even longer than previously thought</singleline>
                        </h2><multiline label="Article Copy" repeatertitle="Article">Lorem ipsum Voluptate officia dolore elit minim velit reprehenderit mollit velit ex aute dolore quis ut voluptate elit tempor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</multiline>
                        <singleline label="CTA Button"><a class="btn">Click Here »</a></singleline>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="spacer"></div>
                      </td>
                    </tr>
                  </table>
                  <table align="left">
                    <tr>
                      <td>
                        <h3>Stay Connected
                          <p><a href="" title="Follow Love Alaska on Facebook"><img src="../images/icon-fb.gif"/></a><a href="http://twitter.com/LoveAlaska2014" title="Connect on Twitter"><img src="../images/icon-tw.gif"/></a><a href="http://linkedin.com/in/LoveAlaska2014" title="Connect on LinkedIn"><img src="../images/icon-in.gif"/></a><a href="https://www.youtube.com/user/LoveAlaska2014" title="Watch Videos"><img src="../images/icon-youtube.gif"/></a><a href="http://lovealaska.org" title="Visit lovealaska.org"><img src="../images/icon-web.gif"/></a></p>
                        </h3>
                        <h4>Love Alaska
                          <p>PO Box 241344<br/>Anchorage, AK 99524<br/>907.646.4805</p>
                        </h4>
                      </td>
                    </tr>
                  </table>
                </layout>
              </repeater>
              <div class="clear"></div>
            </div>
            <!--COLUMN WRAP -->
          </td>
          <td></td>
        </tr>
      </table><!--
      <FOOTER> </FOOTER>-->
      <table class="footer-wrap">
        <tr>
          <td></td>
          <td class="container">
            <div class="content nopad">
              <h3>Campaign Leadership          </h3>
            </div>
            <div class="column-wrap">
              <div class="column">
                <table>
                  <tr>
                    <td>
                      <dl>
                        <dt>Campaign Co-Chairs</dt>
                        <dd>Loren Leman</dd>
                        <dd>Richard Strutz</dd>
                      </dl>
                      <dl>
                        <dt>Pastoral Co-chairs</dt>
                        <dd>Jay Pullins</dd>
                        <dd>Richard Irwin</dd>
                      </dl>
                      <dl>
                        <dt>Prayer Chair</dt>
                        <dd>Judith Green</dd>
                      </dl>
                      <dl>
                        <dt>Fundraising Chair</dt>
                        <dd>Les Anderson</dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="column">
                <table>
                  <tr>
                    <td>
                      <dl>
                        <dt>Season of Service Co-chairs</dt>
                        <dd>David Kuiper</dd>
                        <dd>Richard Benjamin</dd>
                      </dl>
                      <dl>
                        <dt>PR/Publicity Co-chairs</dt>
                        <dd>Becky Hansen</dd>
                        <dd>Jenni Ragland</dd>
                      </dl>
                      <dl>
                        <dt>Counseling Co-chair</dt>
                        <dd>Mark Goodwin</dd>
                      </dl>
                      <dl>
                        <dt>Follow-up Co-chair</dt>
                        <dd>Jimmy Stewart</dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="column">
                <table>
                  <tr>
                    <td>
                      <dl>
                        <dt>Board of Reference </dt>
                        <dd>Katherine Gottlieb, Southcentral Foundation</dd>
                        <dd>Pastor Dan Jarrell, ChangePoint</dd>
                        <dd>Pastor Keith Lauwers, Church of Anchorage</dd>
                        <dd>Edward B Rasmuson, Rasmuson Foundation</dd>
                        <dd>Pastor Brad Rud, The Crossing@Birchwood</dd>
                        <dd>Pastor Don Shugak, Anchorage Native New Life Fellowship</dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="content">
              <table>
                <tr>
                  <td align="center">
                    <p>
                      <unsubscribe>Unsubscribe</unsubscribe> | <a href="http://lovealaska.org" title="Love Alaska Website">lovealaska.org</a>
                    </p>
                  </td>
                </tr>
              </table>
            </div>
            <!--content -->
          </td>
          <td></td>
        </tr>
      </table>
      <!--FOOTER -->
    </body>
  </head>
</html>