<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Love Alaska</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/email-sidebar.css"/>
    <body bgcolor="#31373b" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
      <!-- ------------- HEADER ---------------------------->
      <table bgcolor="#fff" class="head-wrap">
        <tr>
          <td></td>
          <td class="header container">
            <div class="content">
              <table bgcolor="#fff">
                <tr>
                  <td><img src="http://placehold.it/200x50/"/></td>
                  <td align="right">
                    <h6 class="collapse">Sidebar Hero</h6>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td></td>
        </tr>
      </table>
      <!-- -------- BODY ------------------------------>
      <table class="body-wrap">
        <tr>
          <td></td>
          <td bgcolor="#fff" class="container">
            <!-- content -->
            <div class="content">
              <table>
                <tr>
                  <td>
                    <h1>Welcome, Mr. User</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p><!--
                    <A>Real Hero (and a real human being) </A>-->
                    <p><img src="http://placehold.it/900x300"/></p><!--/hero --><!--
                    <Callout>Panel </Callout>-->
                    <p class="callout">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit.<a href="#">Do it Now! »</a></p>
                    <!--Callout Panel -->
                  </td>
                </tr>
              </table>
            </div>
            <!-- COLUMN WRAP -->
            <div class="column-wrap">
              <div class="column span-2">
                <table align="left">
                  <tr>
                    <td>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p><a class="btn">Click Here »</a>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="column">
                <table align="left">
                  <tr>
                    <td>
                      <ul class="sidebar">
                        <li><a>
                            <h5>Header Thing »</h5>
                            <p>Sub-head or something</p></a></li>
                        <li><a>. Just a Plain Link »</a></li>
                        <li><a>. Just a Plain Link »</a></li>
                        <li><a>. Just a Plain Link »</a></li>
                        <li><a>. Just a Plain Link »</a></li>
                        <li><a>. Just a Plain Link »</a></li>
                        <li><a>. Just a Plain Link »</a></li>
                        <li><a>. Just a Plain Link »</a></li>
                        <li><a>. Just a Plain Link »</a></li>
                        <li><a class="last">Just a Plain Link »</a></li>
                      </ul>
                      <!--social & contact -->
                      <table bgcolor="" width="100%" class="social">
                        <tr>
                          <td>
                            <table align="left" width="100%">
                              <tr>
                                <td>
                                  <h6>Connect with Us:</h6>
                                  <p><a href="#" class="soc-btn fb">Facebook</a><a href="#" class="soc-btn tw">Twitter</a><a href="#" class="soc-btn gp">Google+</a></p>
                                  <h6>Contact Info:</h6>
                                  <p>Phone: <strong>408.341.0600</strong><br/>Email: <strong><a href="emailto:hseldon@trantor.com">hseldon@trantor.com</a></strong></p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!--social & contact -->
                    </td>
                  </tr>
                </table>
              </div>
              <div class="clear"></div>
            </div>
            <!--COLUMN WRAP -->
          </td>
          <td></td>
        </tr>
      </table><!--
      <FOOTER> </FOOTER>-->
      <table class="footer-wrap">
        <tr>
          <td></td>
          <td class="container">
            <!--content -->
            <div class="content">
              <table>
                <tr>
                  <td align="center">
                    <p><a href="#">Terms</a>|<a href="#">Privacy</a>|<a href="#">
                        <unsubscribe>Unsubscribe</unsubscribe></a></p>
                  </td>
                </tr>
              </table>
            </div>
            <!--content -->
          </td>
          <td></td>
        </tr>
      </table>
      <!--FOOTER -->
    </body>
  </head>
</html>